{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>{{request.user|title}}'s GoodShelf &#128218; </h1>
    </div>

    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %} ">Login</a>
    {% endif %}
</div>


<div id="search-add-wrapper">
    <form method="GET" style="display: flex;">
        <input type='text' name='search-area' value="{{search_input}}">
        <input class="button" type="submit" value='Search'>
    </form>
    <a id="add-link" href="{% url 'book-create' %}">&#x2b;</a>
</div>


<div class="task.items-wrapper">
    
    <div class="currently">
        <h3>Currently Reading</h3>
    </div>
    {% for book in books %}
        <div class="task-wrapper">
            {% ifequal book.status 'C' %}
            <div class="book-title">
                &#128278;
                <i><a href="{% url 'book-update' book.id %}">{{book}}</a></i>
                &nbsp;&nbsp;(pg {{book.progress}})
            </div>
            <a class="delete-link" href="{% url 'book-delete' book.id %}"><i class="fa">&#xf014;</i></a>
            {% endifequal %}
                
        </div>

        {% empty %}
        <h3>No books in list</h3>
        {% endfor %}
   

    <div class="already">
        <h3>Already Read</h3>
    </div>
    {% for book in books %}
        <div class="task-wrapper">
            {% ifequal book.status 'R' %}
            <div class="book-title">
                &#9989;
                <i><a href="{% url 'book-update' book.id %}">{{book}}</a></i>
            </div>
            <a class="delete-link" href="{% url 'book-delete' book.id %}"><i class="fa">&#xf014;</i></a>
            {% endifequal %}
        </div>

    {% empty %}
    <h3>No books in list</h3>
    {% endfor %}

    
    <div class="tbr">
        <h3>To be read</h3>
    </div>
    {% for book in books %}
        <div class="task-wrapper">
            {% ifequal book.status 'T' %}
            <div class="book-title">
                &#127919;
                <i><a href="{% url 'book-update' book.id %}">{{book}}</a></i>
            </div>
            <a class="delete-link" href="{% url 'book-delete' book.id %}"><i class="fa">&#xf014;</i></a>
            {% endifequal %}
        </div>

    {% empty %}
    <h3>No books in list</h3>
    {% endfor %}

</div>

{% endblock content %}